fieldset{
    border:none;
}
body{
    font-size:75%;
    font-family: "Lucida Grande", sans-serif;
}
h1, h2, h3 {
    -webkit-user-select: none;
    font-weight: normal;
    line-height: 1;
}
h1 {
    margin: 0;
    padding: 21px 0 13px;
    font-size: 1.5em;
}
h1::after {
    -webkit-margin-end: 20px;
    background-color: #eee;
    content: ' ';
    display: block;
    height: 1px;
    position: relative;
    top: 13px;
}
#project-select-form form.aui{
    padding-left: 40px;
}
#native-browse{
	margin:0px;
}
#local-file-path{
    font-size: 90%;
    border: 2px inset;
    vertical-align: middle;
}

#success-img{
	padding-left:10px;
	vertical-align: middle;
	height: 16px;
	width: 16px;
}

#error-img{
	padding-left:10px;
	vertical-align: middle;
}

#load-success{
	color:green;
}
#load-error{
	color:red;
}

#support-block{
    margin-top: 40px;
    color: #555;
}
#resource-list-container{
    position:relative;
    bottom: 0;
    overflow-y: auto;
    padding-left: 40px;
}
#resource-list{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.list-heading{
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(236, 236, 236)), to(rgb(217, 217, 217)));
    border-right: 1px solid rgb(179, 179, 179);
    border-bottom: 1px solid rgb(179, 179, 179);
    
    padding: 10px 5px;
}
.details > div{
    margin: 5px 0px;
}
.resource{
    padding-left: 40px;
    margin-bottom: 15px;
}

.resource.script{
    background: url('images/resourceJSIcon.png') no-repeat;
}

.resource.stylesheet{
    background: url('images/resourceCSSIcon.png') no-repeat;
}

.resource.document{
    background: url('images/resourceDocumentIcon.png') no-repeat;
}
.resource-name{
    font-weight: 500;
    font-size: 14px;
}
#resource-list-container .resource .resource-localpath button, #resource-list-container .resource .resource-reloadfrom button{
    margin: 0px;
    padding: 0px;
    min-height: initial;
    min-width: initial;
    font-size: 85%;
    margin-right: 7px;
}
.select label, .field-group label{

    float: left;
display: block;
text-align: right;
width: 100px;
padding-top: 4px;
margin-left: -110px;

}

.select, .field-group{
    margin-bottom:10px;
    padding-left: 110px;
}

#toggle-autosave, #toggle-watch{
    margin-top: 7px;
}


.description{
    font-size: 85%;
}

.resource-reloadfrom ul {
     list-style-type: none;
     background: url(vline.png) repeat-y;
     margin: 0;
     padding: 0;
     margin-top: 5px;
     margin-left: 70px;
   }
   

.resource-reloadfrom ul li {
     margin: 0;
     padding: 0 12px;
     
     background: url(node.png) no-repeat;
}

.resource-reloadfrom ul li:last-child {
 background: #fff url(lastnode.png) no-repeat;
}